@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* Hide scrollbar for all browsers */
.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
